@charset "UTF-8";

hr {
  margin-top: 1.5rem;
  background-color: #7e7e7e;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5.5rem;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 1.2rem;
}

.service_description {
  flex: 1;
  text-align: left;

}

.service_description h1 {
  margin-bottom: 1rem;
}

.service_description p {
  margin-bottom: 1.5rem;
  text-align: justify;
  color: var(--texto_white);
}

.hero_image {
  flex: 1;
  position: relative;
  text-align: center;
}

.hero_image::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 110%;
  height: 100%;
  background: radial-gradient(circle, rgba(82, 165, 217, 0.678) 0%, transparent 70%);
  z-index: 0;
  border-radius: 50%;
  filter: blur(30px);
}

.hero_image img {
  position: relative;
  z-index: 1;
  /* Mantém a imagem acima do brilho */
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

hr {
  border: 0;
  border-top: 0.5px solid rgba(141, 141, 141, 0.63);
}

/* Info Container */
.info_container {
  background: linear-gradient(to bottom, rgba(44, 79, 155, 0.274), rgba(24, 46, 92, 0.171), transparent);
}

/* High Performance */
.high_performance {
  padding: 4rem 2rem;
  color: var(--texto_white);
}

.high_performance .container {
  text-align: center;
}

.high_performance .text {
  width: 70%;
  margin: 0 auto;
}

.high_performance .text {
  margin-bottom: 3rem;
}

.high_performance p {
  font-size: var(--normal-font-size);
  margin-bottom: 2rem;
  color: var(--texto_white2);
  line-height: 1.6;
}

.high_performance .features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}

.feature_card {
  background: var(--black-color-light);
  border-radius: 12px;
  padding-top: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  width: 500px;
  display: flex;
  gap: 1rem;
  text-align: left;
  position: relative;
  overflow: hidden;
}

.feature_card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  height: 5px;
  background: linear-gradient(to right, var(--cor4), transparent);
  transition: width 0.5s ease-in-out;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.feature_card img {
  width: 28px;
  height: 28px;
  margin-right: 0.5rem;
}

.feature_card h3 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: var(--texto_white);
}

.feature_card p {
  font-size: var(--text_size);
  color: var(--texto_white2);
}

/*Service Cards*/
/*Toogle
.toogle_button {
  border: 2px solid #1e3a5f;
  border-radius: 15px;
  width: fit-content;
  padding: 2px;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}

.toogle_button button.active {
  background-image: linear-gradient(to right, var(--cor1), var(--cor2));
  color: #ffffff;
}

.monthly {
  padding: 18px;
  text-decoration: none;
  font-size: var(--text_size);
  color: var(--texto_white);
  border-radius: 10px;
  width: fit-content;
  transition: 0.3s;
  background: linear-gradient(146deg, #29354988, transparent);
  color: #ffffff;
  border: none;
  font-family: 'Poppins';
}

.yearly {
  padding: 18px;
  text-decoration: none;
  color: var(--texto_white);
  border-radius: 10px;
  width: fit-content;
  transition: 0.3s;
  background: linear-gradient(146deg, #29354988, transparent);
  color: #fff;
  border: none;
  font-family: 'Poppins';
  font-size: var(--text_size);
  color: var(--texto_white2);
}
*/

.packages {
  padding: 2rem;
  background: radial-gradient(circle at top, rgba(67, 126, 194, 0.192), transparent 40%);
}

.service_packages {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  position: relative;
  z-index: 5;
}

/* Estilização do título */
.packages h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.packages h2 .highlight {
  color: #52A5D9;
  /* Azul para destacar "Pacotes Especiais" */
  font-weight: bold;
}

.package_option {
  background: linear-gradient(146deg, #475a7cb0, #475a7c5b, transparent);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 0px;
  text-align: left;
  max-width: 350px;
  height: fit-content;
  width: 100%;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
  border: 0.1px #52a5d96b solid;
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding: 20px;
}

hr {
  border: 0;
  border-top: 0.5px solid rgba(141, 141, 141, 0.63);
}

.package_option h3 {
  color: white;
}

.package_option p {
  color: var(--texto_white2);
}

/* Prices */

.price {
  text-align: left;
  color: white;
  font-weight: bold;
  background: linear-gradient(to right, #5bb5d98e, transparent);
  border-radius: 10px;
  padding: 10px;
  display: flex;
}

.price_secundary {
  display: flex;
  flex-direction: column;
  margin-top: 2.2%;
}

.price_main {
  font-size: 3.5rem;
  /* Tamanho grande para o número principal */
  line-height: 1.2;
}

.price_unit {
  font-size: 1rem;
  /* Tamanho médio para "MT" */
  margin-left: 2px;
}

.price_month {
  font-size: 1rem;
  /* Tamanho menor para "/mês" */
  color: rgba(255, 255, 255, 0.8);
  /* Cor mais clara */
  font-weight: normal;
}

.package_price {
  color: white;
  font-weight: bold;
  font-size: 3rem;
  /* Tamanho grande para o preço */
  display: inline-block;
}

.package_price .small_text {
  font-size: 1rem;
  /* Tamanho pequeno para "MT/mês" */
  font-weight: normal;
  color: rgba(255, 255, 255, 0.8);
  /* Cor um pouco mais suave */
  margin-left: 0px;
  vertical-align: top;
  /* Alinha o texto menor ao topo do número */
}

.package_option::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  height: 5px;
  background: linear-gradient(to right, var(--cor4), transparent);
  transition: width 0.5s ease-in-out;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.package_option a {
  color: var(--texto_white2);
  background-color: #14141d;
  padding: 12px;
  text-align: center;
  border-radius: 10px;
}

.package_option ul li {
  color: var(--texto_white2);
}

.package_option a:hover {
  transform: none;
  background: linear-gradient(to right, #14141d, transparent);
  transform: scale(1.05);
  color: white;
}

/* SYSTEMS */
/* Systems Section */
.systems {
  background: linear-gradient(to bottom, rgba(44, 79, 155, 0.274), rgba(24, 46, 92, 0.171), transparent);
  padding: 4rem 2rem;
  color: var(--texto_white);
}

.systems .container {
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

.systems .text {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.systems .text h2 {
  margin-bottom: 1rem;
  color: var(--texto_white);
}

.systems .text p {
  font-size: var(--normal-font-size);
  margin-bottom: 2rem;
  color: var(--texto_white2);
  line-height: 1.6;
}

.systems .features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}

.systems .feature_card {
  background: var(--black-color-light);
  border-radius: 12px;
  padding: 1.5rem;
  width: 500px;
  display: flex;
  gap: 1rem;
  text-align: left;
  position: relative;
  overflow: hidden;
}

.systems .feature_card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  height: 5px;
  background: linear-gradient(to right, var(--cor4), transparent);
  transition: width 0.5s ease-in-out;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.systems .feature_card img {
  width: 28px;
  height: auto;
  margin-right: 0.5rem;
}

.systems .feature_card h3 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: var(--texto_white);
}

.systems .feature_card p {
  font-size: var(--text_size);
  color: var(--texto_white2);
}


/*--------------------------Contact Us Section ---------------------------*/
.contact_us {
  padding: 4rem 2rem;
  background: radial-gradient(circle, rgba(112, 158, 211, 0.116), transparent 70%);
  color: #ffffff;
  text-align: center;
  margin-bottom: 5rem;
}

/* Container Styles */
.contact_us .container {
  max-width: 800px;
  margin: 0 auto;
}

.contact_us p {
  line-height: 1.6;
}

/* Buttons Container */
.contact_us .buttons {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 1rem;
}

/* Buttons Styling */
.contact_btn,
.contact_us .quote_btn {
  padding: 12px;
  text-decoration: none;
  color: var(--texto_white);
  border-radius: 10px;
  width: fit-content;
  height: fit-content;
  transition: 0.5s;
  display: block;
}

/* Contact Button */
.contact_btn {
  background-image: linear-gradient(to right, var(--cor1), var(--cor3));
  color: #ffffff;
}

.contact_us .contact_btn:hover {
  background-color: #3c8ab8;
  transform: translateY(-3px);
}

/* Quote Button */
.contact_us .quote_btn {
  background-color: #ffffff;
  color: #1e3a5f;
  border: 2px solid #52a5d9;
}

.contact_us .quote_btn:hover {
  background-color: #f0f4f9;
  transform: translateY(-3px);
}


/*------------------FOOTER--------------------*/
/* Estilo base para o footer */
footer {
  background-color: #1f1f2ba4;
  color: #f1f1f1;
  padding: 40px 0;
}

.footer-container {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: auto;
  text-align: left;
  gap: 50px;
}

.logo-socials {
  display: flex;
  flex-direction: column;
  gap: 10%;
}

.sitemap {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  width: 100%;
  gap: 10px;
}

/* Links, serviços e contato */
.footer-links ul,
.footer-services ul,
.footer-contact ul {
  list-style-type: none;
  padding: 0;
}

.footer-links ul li,
.footer-services ul li,
.footer-contact ul li {
  margin-bottom: 10px;
}

.footer-links ul li a,
.footer-services ul li a,
.footer-contact ul li a {
  color: var(--texto_white2);
  text-decoration: none;
  transition: color 0.3s;
}

.footer-links ul li a:hover,
.footer-services ul li a:hover,
.footer-contact ul li a:hover {
  color: #52A5D9;
}

/* Redes sociais */
.footer-social ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer-social ul li {
  display: inline-block;
}

.footer-social ul li a i {
  font-size: 18px;
  color: #f1f1f1;

  transition: transform 0.3s ease, color 0.3s ease;
}

.footer-social ul li a i:hover {
  transform: scale(1.1);
  color: #52A5D9;
}

/* Direitos autorais */
.footer-bottom {
  border-top: 1px solid #444;
  padding-top: 20px;
  text-align: center;
  margin-top: 20px;
}

.footer-logo img {
  width: 98px;
}

#newsletter {
  padding: 10px;
  width: 90%;
}

.footer-contact li {
  color: var(--texto_white2);
}

#submit-newsletter {
  padding: 10px;
  margin-top: 1%;
  transition: 0.3s;
  border: none;
}

#submit-newsletter:hover {
  background-color: var(--cor3);
  color: white;
}


@media (max-width: 1110px) {

  .hero-content {
    flex-direction: column;
  }

  .service_description {
    width: 90%;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -12%;
  }

  .hero_image img {
    max-width: 90%;
  }

  .container {
    overflow-x: hidden;
  }

  /*---------------------*/
  .footer-container {
    flex-direction: column;
  }

  .logo-socials {
    gap: 10px;
    width: fit-content;
  }

  .sitemap {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    width: 100%;
    gap: 10px;
  }
}

/* Responsividade */
@media (max-width: 768px) {

  .hero-content {
    width: 100%;
  }

  .systems .container {
    width: 100%;
  }

  .systems .text {
    width: 95%;
  }

  .service_description {
    width: 90%;
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
  }

  .contact_us h2 {
    font-size: 2rem;
  }

  .contact_us p {
    font-size: 1rem;
  }

  .contact_us .buttons {
    flex-direction: column;
    gap: 1rem;
  }

  .contact_us .contact_btn,
  .contact_us .quote_btn {
    width: 100%;
  }
}

@media (max-width: 531px) {
  .systems .text {
    width: 100%;
  }
  .hero{
    width: 100%;
    padding: 2.8rem;
  }
  .hero_image img {
    max-width: 100%;
  }
  .service_description {
    width: 100%;
  }
}

@media (max-width: 490px) {
  .high_performance_systems .text_section h2 {
    font-size: 2.3rem;
  }

  .systems {
    width: 100%;
    padding: 1.2rem;
  }

  .systems .text {
    text-align: left;
  }

  .packages h2 {
    font-size: 2.4rem;
  }

  .hero h1 {
    font-size: 2.4rem;
  }

  .text h2 {
    font-size: 2.4rem;
  }

  .high_performance .text {
    width: 95%;
  }

  .custom_kits h2 {
    font-size: 2rem;
  }

  p {
    font-size: 0.9rem;
  }

  a {
    font-size: 0.9rem;
  }

  footer li a {
    font-size: 0.9rem;
  }
}


@media (max-width: 484px) {

  .systems .text h2{
    font-size: 1.8rem;
  }

  .service_description {
    margin-top: 60%;
  }

  .hero h1{
    font-size: 1.8rem;
  }

  h2{
    font-size: 1.8rem;
  }

  .text h2 {
    font-size: 1.8rem;
  }

  .contact_us h2 {
    font-size: 1.8rem;
  }

  .high_performance_systems .text_section h2{
    font-size: 1.8rem;
  }

  .price_main{
    font-size: 2.3rem;
  }

  .price_month, .price_unit{
    font-size: 0.7rem;
  }

  .packages h2 {
    font-size: 1.8rem;
  }
}

@media (max-width: 329px) {
  #newsletter {
    width: 85%;
  }
}