@charset "UTF-8";

* {
    --cor1: #2168A6;
    --cor2: #347EBF;
    --cor3: #52A5D9;
    --cor4: #5BB5D9;
    --texto_black: #333;
    --texto_white: white;
    --texto_white2: rgb(207, 207, 207);
    --background_cor1: #22252d;
    --background_cor2: #0f0f16;
    --tittles_size: 40px;
    --text_size: 0.95rem;
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

/*=============== VARIABLES CSS ===============*/
:root {
    --header-height: 3.5rem;

    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --black-color: hsl(220, 24%, 12%);
    --black-color-light: hsl(220, 24%, 15%);
    --black-color-lighten: hsl(220, 20%, 18%);
    --white-color: #fff;
    --body-color: hsl(220, 100%, 97%);

    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Montserrat", sans-serif;
    --normal-font-size: .938rem;

    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-semi-bold: 600;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

body {
    font-family: "Poppins", "Robotto", Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    background-image: linear-gradient(to bottom, var(--background_cor1), var(--background_cor2));
    color: var(--texto_white);
    font-size: var(--text_size);
    overflow-x: hidden;
}

/* Raio de luz no body */
body::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 80%;
    height: 200%;
    background: radial-gradient(circle, rgba(111, 152, 255, 0.226) 15%, transparent 60%);
    transform: rotate(45deg);
    opacity: 0.6;
    pointer-events: none;
    /* Não interfere nas interações */
    z-index: 0;
    /* Fica atrás de todo o conteúdo */
    animation: light-beam-body 10s ease-in-out infinite;
}

@keyframes light-beam-body {
    0% {
        transform: rotate(45deg) translateX(-10%);
        opacity: 0.4;
    }

    50% {
        transform: rotate(45deg) translateX(10%);
        opacity: 0.6;
    }

    100% {
        transform: rotate(45deg) translateX(-10%);
        opacity: 0.4;
    }
}

ul {
    list-style: none;
    /* Color highlighting when pressed on mobile devices */
    /*-webkit-tap-highlight-color: transparent;*/
}

a {
    text-decoration: none;
}

a:hover {
    transform: perspective(500px) rotateY(20deg);
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
    max-width: 1120px;
    margin-inline: 1.5rem;
}

/*=============== HEADER ===============*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: var(--z-fixed);
    backdrop-filter: blur(4px);
    background: #22252d9c;
}

/*=============== NAV ===============*/
.nav {
    height: var(--header-height);
}

.nav__logo,
.nav__burger,
.nav__close {
    color: var(--white-color);
}

.nav__data {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    display: inline-flex;
    align-items: center;
    width: 128px;
    height: auto;
}

.nav__logo img {
    width: 100%;
}

.nav__toggle {
    position: relative;
    width: 32px;
    height: 32px;
}

.nav__burger,
.nav__close {
    position: absolute;
    width: max-content;
    height: max-content;
    inset: 0;
    margin: auto;
    cursor: pointer;
    transition: opacity .1s, transform .4s;
}

.nav__close {
    opacity: 0;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1118px) {
    .nav__menu {
        position: absolute;
        left: 0;
        top: 2.5rem;
        width: 100%;
        height: calc(100vh - 3.5rem);
        overflow: auto;
        pointer-events: none;
        opacity: 0;
        transition: top .4s, opacity .3s;
    }

    .nav__menu::-webkit-scrollbar {
        width: 0;
    }

    .nav__list {
        background-color: var(--black-color);
        padding-top: 1rem;
    }
}

.nav__link {
    color: var(--white-color);
    padding: 1.25rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;

}

.nav__link:hover {
    color: var(--cor4);
}


/* Show menu */
.show-menu {
    opacity: 1;
    top: 3.5rem;
    pointer-events: initial;
}

/* Show icon */
.show-icon .nav__burger {
    opacity: 0;
    transform: rotate(90deg);
}

.show-icon .nav__close {
    opacity: 1;
    transform: rotate(90deg);
}

/*=============== DROPDOWN ===============*/
.dropdown__item {
    cursor: pointer;
}

.dropdown__arrow {
    font-size: 1.25rem;
    font-weight: initial;
    transition: transform .4s;
}

.dropdown__link,
.dropdown__sublink {
    padding: 0.25rem 0.25rem 0.25rem 1.5rem;
    color: var(--white-color);
    background-color: var(--black-color-light);
    display: flex;
    align-items: center;
    column-gap: .5rem;
    transition: background-color .3s;
}

.dropdown__icon {
    width: 20px;
    /* Ajuste o tamanho conforme necessário */
    height: 20px;
    margin-right: 8px;
    /* Espaço entre a imagem e o texto */
    vertical-align: middle;
}

.dropdown__icon img {
    width: 20px;
    /* Ajuste o tamanho conforme necessário */
    height: 20px;
}

.dropdown__link:hover,
.dropdown__sublink:hover {
    background-color: var(--black-color);
}

.dropdown__menu,
.dropdown__submenu {
    max-height: 0;
    overflow: hidden;
    transition: max-height .4s ease-out;
}

/* Show dropdown menu & submenu */
.dropdown__item:hover .dropdown__menu,
.dropdown__subitem:hover>.dropdown__submenu {
    max-height: 1000px;
    transition: max-height .4s ease-in;
}

/* Rotate dropdown icon */
.dropdown__item:hover .dropdown__arrow {
    transform: rotate(180deg);
}

/*=============== DROPDOWN SUBMENU ===============*/
.dropdown__add {
    margin-left: auto;
}

.dropdown__sublink {
    background-color: var(--black-color-lighten);
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
    .container {
        margin-inline: 1rem;
    }

    .nav__link {
        padding-inline: 1rem;
    }
}

/* For large devices */
@media screen and (min-width: 1118px) {
    .container {
        margin-inline: auto;
    }

    .nav {
        height: calc(var(--header-height) + 2rem);
        display: flex;
        justify-content: space-between;
    }

    .nav__toggle {
        display: none;
    }

    .nav__list {
        height: 100%;
        display: flex;
        column-gap: 3rem;
    }

    .nav__link {
        height: 100%;
        padding: 0;
        justify-content: initial;
        column-gap: .25rem;
    }

    .nav__link:hover {
        background-color: transparent;
    }

    .dropdown__item,
    .dropdown__subitem {
        position: relative;
    }

    .dropdown__menu,
    .dropdown__submenu {
        max-height: initial;
        overflow: initial;
        position: absolute;
        left: 0;
        top: 6rem;
        opacity: 0;
        pointer-events: none;
        transition: opacity .3s, top .3s;
    }

    .dropdown__link,
    .dropdown__sublink {
        padding-inline: 1rem 3.5rem;
    }

    .dropdown__subitem .dropdown__link {
        padding-inline: 1rem;
    }

    .dropdown__submenu {
        position: absolute;
        left: 100%;
        top: .5rem;
    }

    /* Show dropdown menu */
    .dropdown__item:hover .dropdown__menu {
        opacity: 1;
        top: 5.5rem;
        pointer-events: initial;
        transition: top .3s;
    }

    /* Show dropdown submenu */
    .dropdown__subitem:hover>.dropdown__submenu {
        opacity: 1;
        top: 0;
        pointer-events: initial;
        transition: top .3s;
    }
}

h2 {
    font-size: 3rem;
}

/* Hero Section*/
.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    margin-top: 10%;
}

.hero-content {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    gap: 25px;
    align-items: center;
    /* Alinha o texto e a imagem verticalmente */
    justify-content: space-between;
}

.hero-text {
    width: 45%;
    text-align: justify;
    order: 1;
    /* Prioridade de ordenação para responsividade */
}

.hero-text section {
    position: relative;
    top: 25%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hero-text h2 {
    text-align: left;
}

.hero-text p {
    color: var(--texto_white2);
}

.hero-text a {
    padding: 12px;
    text-decoration: none;
    color: var(--texto_white2);
    background-image: linear-gradient(to right, #5783aa, #629bbe);
    border-radius: 10px;
    display: block;
    width: fit-content;
    margin-top: -20px;
    transition: 0.5s;
}

.hero-text a:hover {
    background-image: linear-gradient(to right, var(--cor1), var(--cor3));
}

.hero-text section {
    position: relative;
    top: 25%;
}

/* Hero Image */
.hero-image {
    width: 50%;
    border-radius: 999px;
    border: none;
    background: none;
    margin-left: 40px;
    order: 2;
    /* Prioridade de ordenação para responsividade */
}

.hero-image img {
    width: 100%;
    height: auto;
    border-radius: 999px;
    animation: glow 5s ease-in-out infinite;
}

/* Animação de Glow */
@keyframes glow {
    0% {
        box-shadow: 0 0 20px rgba(0, 123, 255, 0.5), 0 0 30px rgba(0, 123, 255, 0.2);
    }

    50% {
        box-shadow: 0 0 35px rgba(0, 123, 255, 0.7), 0 0 70px rgba(0, 123, 255, 0.3);
    }

    100% {
        box-shadow: 0 0 20px rgba(0, 123, 255, 0.5), 0 0 30px rgba(0, 123, 255, 0.2);
    }
}

/*Valores*/
.valores {
    position: relative;
    width: 100%;
    height: 100vh;
    margin-top: 10%;
}

.valores-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    gap: 20px;
    align-items: center;
    /* Alinha os itens verticalmente */
    justify-content: space-between;
    /* Espaça os itens horizontalmente */
}

.valores-text {
    text-align: left;
    width: 50%;
    /* Ajuste para melhor distribuição de espaço */
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.valores-text p {
    color: var(--texto_white2);
    text-align: justify;
}

.valores-text a {
    padding: 12px;
    background-image: linear-gradient(to right, #5783aa, #629bbe);
    color: white;
    border-radius: 10px;
    width: fit-content;
    display: block;
    transition: 0.5s;
}

.valores-text a:hover {
    background-image: linear-gradient(to right, var(--cor1), var(--cor3));
    cursor: pointer;
}

.valores-img {
    width: 45%;
    /* Ajuste para melhor distribuição de espaço */
}

.valores-img img {
    width: 100%;
    border-radius: 25px;
    transition: 0.8s;
}

.valores-img img:hover {
    transform: perspective(500px) rotateY(20deg);
}


/*Serviços*/
.services {
    background: radial-gradient(circle, rgba(0, 110, 255, 0.082), transparent);
    padding: 105px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.services::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120%;
    height: 120%;
    background: radial-gradient(circle, #181A21, transparent);
    transform: translate(-50%, -50%);
    z-index: -1;
    filter: blur(30px);
    opacity: 0.6;
}

.services-content {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.service-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.service-cards a {
    text-decoration: none;
    background: linear-gradient(146deg, #13192588, transparent);
    color: white;
    padding: 35px;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.5s;
    position: relative;
}

.service-cards a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 5px;
    background: linear-gradient(to right, var(--cor4), transparent);
    transition: width 0.5s ease-in-out;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.service-cards a:hover::before {
    width: 100%;
}

.service-card p {
    color: var(--texto_white2);
    text-align: left;
}

.service-cards a:hover {
    transform: translateY(-10px);
    border: 1px var(--cor4) solid;

}

.service-card img {
    width: 40px;
}


/*QOS*/
.qos {
    overflow: hidden;
    padding: 30px;
    background: linear-gradient(135deg, rgba(24, 46, 92, 0.151), rgba(24, 46, 92, 0.068));
    /* Gradiente suave */
    position: relative;
}

.qos::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle, rgba(112, 158, 211, 0.096), transparent 70%);
    animation: qos-glow 5s infinite;
    z-index: 0;
}

@keyframes qos-glow {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(10%, 10%);
    }

    100% {
        transform: translate(0, 0);
    }
}

.qos-container {
    text-align: center;
    position: relative;
    width: 90%;
    z-index: 1;
    /* Garantindo que o conteúdo fique acima do efeito de fundo */
}

.qos-container p {
    text-align: justify;
    color: var(--texto_white2);
}


.qos-images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* Centraliza horizontalmente as imagens */
    align-items: center;
    /* Alinha verticalmente ao centro */
    gap: 20px;
    /* Adiciona espaço entre os itens */
    margin-top: 20px;
    /* Margem superior para afastar do título */
}

.qos-item {
    width: 60%;
    opacity: 60%;
    transition: 0.5s;
}

.qos-item:hover {
    opacity: 95%;
    transform: scale(1.05);
}

.qos-item img {
    width: 100%;
    height: auto;
}

#qos-item1 {
    position: relative;
    left: -10%;
}

#qos-item1:hover {
    transform: scale(1.05) translateX(100px);
}

#qos-item2 {
    position: relative;
    right: -2.5%;
    width: 60%;
}

.qos-text {
    width: 60%;
    margin-left: 10%;
    margin-bottom: 70px;
    text-align: left;
}

.service-card a {
    text-decoration: none;
    color: white;
    padding: 12px;
    background-image: linear-gradient(to right, var(--cor1), var(--cor3));
    border-radius: 10px;
}

/*---------------------------------*/
.trabalhar-conosco-container {
    width: 90%;
    margin: 10% auto;
}

.trabalhar-conosco-container h2 {
    margin-bottom: 20px;
    text-align: center;
}

.work-cards {
    display: flex;
    justify-content: center;
    /* Centraliza os itens na linha */
    flex-wrap: wrap;
    /* Permite quebra de linha */
    max-width: 1200px;
    gap: 25px;
}

.work-card {
    background: linear-gradient(145deg, rgba(255, 255, 255, 0.1), transparent, transparent);
    padding: 20px;
    border-radius: 10px;
    box-shadow: -1px -1px 1px rgba(255, 255, 255, 0.445);
    flex: 1 1 200px;
    /* Tamanho flexível com largura mínima */
    max-width: 250px;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.work-card:hover {
    transform: scale(1.05);
    background: linear-gradient(145deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.041), transparent);
    box-shadow: -1px -1px 1px #52a5d95e;
}

.work-card h3 {
    color: #52A5D9;
    margin-bottom: 10px;
}

.work-card p {
    color: #cccccc;
    font-size: 14px;
}

.card-icon {
    width: 40px;
}

/*-----------------------*/
.characteristics {
    overflow: hidden;
    padding: 50px 0;
    background: linear-gradient(to bottom, rgba(24, 46, 92, 0.151), rgba(24, 46, 92, 0.068), transparent);
    /* Gradiente suave de fundo */
    position: relative;
}

.characteristics-container {
    text-align: center;
    position: relative;
    width: 90%;
    margin: 0 auto;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* Conteúdo acima do efeito */
}

.caract-cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.card {
    background: linear-gradient(146deg, #29354988, transparent);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 0px;
    text-align: center;
    max-width: 350px;
    max-height: 550px;
    width: 100%;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
    border: 1px var(--cor4) solid;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 5px;
    background: linear-gradient(to right, var(--cor4), transparent);
    transition: width 0.5s ease-in-out;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card:hover::before {
    width: 100%;
}

.card:hover {
    transform: translateY(10px);
}

.card h3 {
    width: 87%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    font-size: 24px;
    color: #ffffff;
}

.card p {
    width: 87%;
    color: #cccccc;
    margin: 0 auto;
}

.card-img {
    position: relative;
    width: 100%;
    height: 450px;
    /* Ajuste a altura conforme necessário */
}

.card-img img {
    transition: 0.5s;
    position: absolute;
    height: 100%;
    object-fit: cover;
}

/* Estilização específica para o primeiro card */
.card-img1 {
    bottom: -50px;
    left: -20px;
}

/* Estilização específica para o segundo card */
.card-img2 {
    left: 50%;
    transform: translateX(-50%);
    bottom: -150px;
}

/* Estilização específica para o terceiro card */
.card-img3 {
    bottom: -30px;
    right: -70px;
    /* Move a imagem para o canto inferior direito */
}

/* Efeito de hover no terceiro card: rotação para a esquerda */
#card_3:hover .card-img3 {
    transform: translateX(-65px) rotate(-10deg) translateY(-10px);
}

/* Efeitos de hover em todas as imagens */
.card:hover .card-img img {
    transform: translateX(30px);
}

/* Efeito de hover no segundo card: move a imagem para cima, sem rotação */
#card_2:hover .card-img2 {
    transform: translate(-50%, -30%);
    /* Apenas sobe a imagem sem rotacionar */
}


/*--------------------------*/
.seg-high {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    border: 1px gray solid;
    padding: 25px;
    border-radius: 10px;
    background: linear-gradient(-146deg, #29354988, transparent);
    align-items: center;
    /* Centraliza verticalmente os dois blocos */
    justify-content: center;
    /* Centraliza horizontalmente */
}

.seg-high-text {
    flex: 1;
    max-width: 50%;
    padding-right: 20px;
    /* Espaço entre o texto e a imagem */
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.seg-high-text a {
    width: fit-content;
    text-decoration: none;
    color: #9e9e9e;
    padding: 10px;
    transition: 0.5s;
    border-radius: 10px;
}

.seg-high-text a:hover {
    background: linear-gradient(146deg, #29354988, transparent);
    color: #fff;
}

.seg-high-text p {
    text-align: justify;
    color: var(--texto_white2);
}

.seg-high-img {
    flex: 1;
    max-width: 50%;
    text-align: right;
    justify-content: center;
    align-items: center;
}

.seg-high-img:hover {
    transform: none;
}

.seg-high-img img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

/*---------------------------*/
.quote-section {
    position: relative;
    width: 90%;
    margin: 5% auto;
    border-radius: 10px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    /* Garante que nada "vaze" da seção */

}

.quote-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.quote-back img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Faz a imagem cobrir toda a área sem distorções */
}

.quote-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.904), rgba(0, 0, 0, 0.836), rgba(0, 0, 0, 0.733), rgba(0, 0, 0, 0.151));
    /* Cor ED93FF com opacidade de 80% */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    color: white;
    z-index: 2;
    /* Coloca o overlay acima da imagem */
    padding: 20px;
}

.quote-overlay h2 {
    font-weight: bold;
    margin-bottom: 20px;
}

.quote-overlay p {
    margin-bottom: 20px;
    max-width: 600px;
    color: #e9e9e9;
}

.quote-overlay a {
    background-color: white;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-image: linear-gradient(to right, #5783aa, #629bbe);
    transition: 0.3s;
}

.quote-overlay a:hover {
    color: white;
    background-image: linear-gradient(to right, var(--cor1), var(--cor3));
}

/*---------------------------*/
/* Estilo base para o footer */
footer {
    background-color: #1f1f2ba4;
    color: #f1f1f1;
    padding: 40px 0;
}

.footer-container {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
    text-align: left;
    gap: 50px;
}

.logo-socials{
    display: flex;
    flex-direction: column;
    gap: 10%;
}

.sitemap{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    width: 100%;
    gap: 10px;
}

/* Links, serviços e contato */
.footer-links ul,
.footer-services ul,
.footer-contact ul {
    list-style-type: none;
    padding: 0;
}

.footer-links ul li,
.footer-services ul li,
.footer-contact ul li {
    margin-bottom: 10px;
}

.footer-links ul li a,
.footer-services ul li a,
.footer-contact ul li a {
    color: var(--texto_white2);
    text-decoration: none;
    transition: color 0.3s;
}

.footer-links ul li a:hover,
.footer-services ul li a:hover,
.footer-contact ul li a:hover {
    color: #52A5D9;
}

/* Redes sociais */
.footer-social ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer-social ul li {
    display: inline-block;
}

.footer-social ul li a i {
    font-size: 18px;
    color: #f1f1f1;
    
    transition: transform 0.3s ease, color 0.3s ease;
}

.footer-social ul li a i:hover {
    transform: scale(1.1);
    color: #52A5D9;
}

/* Direitos autorais */
.footer-bottom {
    border-top: 1px solid #444;
    padding-top: 20px;
    text-align: center;
    margin-top: 20px;
}

.footer-logo img {
    width: 98px;
}

#newsletter {
    padding: 10px;
    width: 90%;
}

.footer-contact li{
    color: var(--texto_white2);
}

@media (max-width: 1110px) {

    /*Serviços*/
    .services {
        padding: 0px;
        height: fit-content;
        padding-bottom: 10%;
        padding-top: 5%;
    }

    .services-content {
        width: 90%;
    }

    .service-cards {
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    }

    .qos {
        padding: 30px 0px;
    }

    /*QOS*/
    .qos-text {
        width: 90%;
        margin-left: 10%;
        margin-bottom: 70px;
        text-align: left;
    }

    /*--------------------------*/
    .seg-high {
        display: block;
        width: 90%;
        padding: 25px;
    }

    .seg-high-text,
    .seg-high-img {
        max-width: 90%;
        padding: 0;
        margin: 0 auto;
        text-align: left;
        /* Remove centralização */
    }

    .seg-high-img {
        margin-top: 15px;
        /* Adiciona um espaço entre o texto e a imagem */
    }
    /*---------------------*/
    .footer-container {
        flex-direction: column;
    }
    
    .logo-socials{
        gap: 10px;
        width: fit-content;
    }
    
    .sitemap{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        width: 100%;
        gap: 10px;
    }

}


@media (max-width: 1097px) {
    .hero-content {
        gap: 5px;
    }

    .hero-image {
        position: relative;
        left: 5%;
        width: 45%;
    }

    .hero-image img {
        width: 600px;
    }

    .hero-text {
        width: 55%;
    }
}

@media (max-width: 974px) {
    .hero-content {
        gap: 5px;
    }

    .hero-image {
        position: relative;
        left: 10%;
        width: 30%;
    }

    .hero-image img {
        width: 600px;
    }

    .hero-text {
        width: 70%;
    }
}

@media (max-width: 875px) {

    .valores {
        height: fit-content;
    }

    .valores-container {
        flex-direction: column-reverse;
    }

    .valores-text {
        width: 100%;
    }

    .valores-img {
        width: 80%;
        /* Ajuste para melhor distribuição de espaço */
    }

    .qos {
        height: fit-content;
        padding-bottom: 20%;
    }

    .qos-images {
        display: flex;
        flex-direction: column;
        position: relative;
        /* Necessário para os itens se sobreporem corretamente */
        align-items: center;
    }

    .qos-item {
        width: 90%;
        transition: transform 0.5s, opacity 0.5s ease;
        position: absolute;
        padding-top: 10%;
        /* Faz com que os itens se sobreponham */
    }

    /* Item 1 ficará sobreposto ao item 2 inicialmente */
    #qos-item1 {
        position: absolute;
        /* Sobrepõe o item 2 */
        z-index: 2;
        /* Item 1 começa por cima */
        opacity: 1;
    }

    #qos-item1:hover {
        transform: scale(1.05) translateX(20%);
    }

    /* Item 2 fica por baixo, mas com position: relative */
    #qos-item2 {
        position: relative;
        z-index: 1;
        /* Item 2 fica por baixo inicialmente */
        left: 35%;
        /* Desloca o item 2 um pouco para a direita */
        opacity: 0.6;
        width: 90%;
    }

    /* Quando o mouse passar sobre o item 2, ele sobrepõe o item 1 */
    #qos-item2:hover {
        z-index: 3;
        /* Coloca o item 2 acima do item 1 */
        transform: scale(1.2) translateX(-20%);
        opacity: 1;
    }


}

@media (max-width: 700px) {

    .hero {
        width: 100%;
        flex-direction: column-reverse;
        overflow: hidden;
    }

    .hero-content {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: block;
        gap: 0px;
        overflow: hidden;
        overflow-x: hidden;
    }

    .hero-text {
        position: relative;
        order: 2;
        z-index: 10;
        width: 90%;
        top: 25%;
        color: white;

        padding: 10px;
        border-radius: 10px;
        overflow: hidden;
        overflow-x: hidden;
        margin-left: auto;
        margin-right: auto;
    }


    .hero-image {
        opacity: 60%;
        position: relative;

        width: 100%;
        z-index: -10;
        align-items: center;
        justify-content: center;
        transform: translateY(-50%) translateX(55%);
    }

    /*---------------------------*/
    .quote-overlay h2 {
        text-align: center;
    }

}

@media (max-width: 530px) {

    .hero-image {
        transform: translateY(-50%) translateX(35%);
    }

    .valores-img {
        width: 100%;
        /* Ajuste para melhor distribuição de espaço */
    }

    .seg-high-text h2 {
        font-size: 2.5rem;
    }

    .seg-high-text,
    .seg-high-img {
        max-width: 100%;
    }

}

@media (max-width: 386px) {

    h2 {
        font-size: 2.7rem;
    }

    p {
        font-size: 0.9rem;
    }

    a {
        font-size: 0.9rem;
    }

    .quote-section{
        width: 100%;
        border-radius: 0px;
    }

    footer li a{
        font-size: 0.9rem;
    }

}

@media (max-width: 329px) {

    h2 {
        font-size: 2.45rem;
    }

    p {
        font-size: 0.8rem;
    }

    a {
        font-size: 0.8rem;
    }

    #newsletter{
        width: 85%;
    }

}