* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  --cor2: #347ebf;
  --cor3: #52a5d9;
  --cor4: #5bb5d9;
  --texto_black: #333;
  --texto_white: white;
  --texto_white2: rgb(238, 237, 237);
  --background_cor1: #22252d;
  --background_cor2: #0f0f16;
}

body {
  background-image: linear-gradient(
    to bottom,
    var(--background_cor1),
    var(--background_cor2)
  );
  --cor1: #2168a6;
}

.logo_img {
  width: 150px;
}

h2 {
  color: var(--texto_white2);
}

hr {
  margin-top: 1.5rem;
  background-color: #7e7e7e;
}

.hero {
  background-image: url("images/hero_image.webp");
  background-size: cover;
  background-position: center;
  height: 90vh;
  display: flex;
  flex-direction: column;
  color: var(--background_cor1);
  position: relative;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      to right,
      rgba(30, 32, 40, 0.9),
      rgba(30, 32, 40, 0.7)
    ),
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0.6) 70%,
      rgba(0, 0, 0, 1) 100%
    );
  z-index: 1;
}

.hero_content {
  max-width: 100%;
  padding: 20px;
  position: relative;
  z-index: 2; /* Conteúdo acima do overlay */
}

nav {
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
  align-items: center;
}

.links {
  display: flex;
  gap: 0px 20px;
}

.links a {
  color: var(--texto_white2);
  text-decoration: none;
  font-size: 1rem;
  position: relative;
  padding: 5px 10px;
  overflow: hidden;
  transition: color 0.3s ease-in-out;
}

.links a:hover {
  color: var(--cor2);
}

#schedule_call > a {
  text-decoration: none;
  position: relative;
  background: linear-gradient(to right, var(--cor1), var(--cor3));
  border: 1px solid var(--texto_white);
  color: var(--texto_white2);
  padding: 10px;
  border-radius: 15px;
}

#schedule_call a {
  display: inline-block;
  transition: transform 0.3s ease;
}

#schedule_call a:hover {
  transform: translateX(
    -10px
  ); /* Move o link 10px para a direita sem afetar outros elementos */
}

.service_description {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 10px 15px;
  position: relative;
  z-index: 2; /* Mantém o texto acima do overlay */
  color: var(--texto_white); /* Deixa o texto claro para contraste */
  max-width: 60%;
  margin-left: 5rem;
}

.service_description h1 {
  font-size: 3rem;
  color: var(--texto_white);
  font-weight: bold;
}

.service_description p {
  font-size: 1.3rem;
  color: var(--texto_white2);
  text-align: justify;
}

.service_description h1,
.service_description p {
  color: var(--texto_white); /* Texto claro para se destacar no fundo escuro */
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8); /* Sombra para maior legibilidade */
}

#quoteAndContact {
  display: flex;
  flex-direction: row;
  gap: 0rem 5rem;
  padding: 10px;
}

#quote {
  text-decoration: none;
  color: var(--texto_white2);
  font-size: 1.3rem;
  border-radius: 30px;
  background: linear-gradient(to right, var(--cor1), var(--cor3));
  padding: 15px;
  transition: background 0.4s ease, color 0.4s ease;
}

#quote:hover {
  background: linear-gradient(to right, var(--cor3), var(--cor1));
  color: var(--texto_white2);
  box-shadow: 0 0 15px var(--cor3), 0 0 30px var(--cor4);
  transition: background 0.4s ease, box-shadow 0.4s ease, color 0.4s ease;
}

#contact {
  text-decoration: none;
  font-size: 1.3rem;
  border-radius: 30px;
  padding: 15px;
  background-color: #00000036;
  color: var(--texto_white2);
  transition: 0.3s ease;
}

#contact:hover {
  margin-left: 0.5rem;
}

.service_packages {
  width: 80%;
  position: relative;
  top: -100px;
  z-index: 2;
  margin: 0 auto;
  display: grid;
  gap: 10px;
  padding: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "poseidon ikarus zeus";
}

.package_option {
  width: 90%;
  height: 600px;
  border: 1px solid var(--texto_white);
  border-radius: 10px;
  transition: border 0.3s ease, transform 0.3s ease;
  z-index: 1;
}

.package_option:hover {
  transform: scale(1.05);
}

.poseidon {
  grid-area: poseidon;
  background: linear-gradient(to bottom, #96e1ff93, #52a5d9);
}

.ikarus {
  grid-area: ikarus;
  background-image: linear-gradient(to bottom, #173243, #4b6c79);
}

.zeus {
  grid-area: zeus;
  background-color: var(--background_cor1);
}

.card_description {
  width: 80%;
  margin: 0 auto;
  padding: 10px;
}

.card_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.card_header .title {
  color: var(--texto_white2);
  font-size: 1.8125rem;
}

.card_header .pin {
  background-color: var(--texto_white);
  color: var(--texto_black);
  font-size: 1rem;
  border-radius: 20px;
  padding: 2px 20px 2px 20px;
  animation: vibrate 0.7s ease-in-out infinite both;
}

.card_description p {
  font-size: 1.3rem;
  color: var(--texto_white2);
}

.card_description a {
  text-decoration: none;
  border: 1px solid var(--texto_white2);
  border-radius: 15px;
  padding: 10px;
  display: block;
  text-align: center;
  margin-top: 1.5rem;
  width: 100%;
  color: var(--texto_white2);
  background: linear-gradient(to left, #31526f, #477ba9);
  transition: 0.3s ease;
}

.card_description a:hover {
  margin-left: 0.5rem;
  cursor: pointer;
}

.price {
  font-size: 2.3rem;
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
}

.checklist {
  list-style: none;
  padding: 10px;
  color: var(--texto_white2);
}

footer {
  background-color: #333333;
  color: #f1f1f1;
  padding: 40px 0;
  text-align: center;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1280px;
  margin: auto;
  text-align: left;
}

.footer-container section {
  flex: 1;
  padding: 20px;
  min-width: 200px;
}

.footer-links ul,
.footer-services ul,
.footer-contact ul {
  list-style-type: none;
  padding: 0;
}

.footer-links ul li,
.footer-services ul li,
.footer-contact ul li {
  margin-bottom: 10px;
}

.footer-links ul li a,
.footer-services ul li a,
.footer-contact ul li a {
  color: #f1f1f1;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-links ul li a:hover,
.footer-services ul li a:hover,
.footer-contact ul li a:hover {
  color: #52a5d9;
}

.footer-social ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer-social ul li {
  display: inline-block;
}

.footer-social ul li a i {
  font-size: 32px;
  color: #f1f1f1;
  transition: transform 0.3s ease, color 0.3s ease;
}

.footer-social ul li a i:hover {
  transform: scale(1.1);
  color: #52a5d9;
}

.footer-bottom {
  border-top: 1px solid #444;
  padding-top: 20px;
  margin-top: 20px;
}

.footer-logo {
  width: 128px;
}

.footer-logo img {
  width: 100%;
}

@keyframes vibrate {
  /*animção*/
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width: 1024px) {
  .service_packages {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "poseidon ikarus"
      "zeus zeus";
  }

  .package_option {
    height: auto;
  }
}

@media (max-width: 768px) {
  .service_packages {
    grid-template-columns: 1fr;
    grid-template-areas:
      "poseidon"
      "ikarus"
      "zeus";
  }

  .package_option {
    height: auto;
    width: 100%;
  }

  .card_header .title {
    font-size: 1.5rem;
  }

  .card_description p {
    font-size: 1rem;
  }

  .price {
    font-size: 2rem;
  }

  .card_description a {
    padding: 8px;
  }
}

@media (max-width: 480px) {
  .service_packages {
    width: 90%;
  }

  .card_header .title {
    font-size: 1.2rem;
  }

  .price {
    font-size: 1.8rem;
  }

  .card_description a {
    padding: 6px;
  }
}
